.profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .profile {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 50px 20px;
  }
  
  .Resume-button{
    background-color: rgb(49, 173, 49);
    color: white;
  }
  /* Rest of your existing styles for profile, profile-image, name, description, and buttons */
  