.background {
    background-image: linear-gradient( #000000,#414141);
    position: relative;
    border: 1px solid red;
    height: 100vh;
  }
  
  .scrollText {
    font-size: 1.5rem;
  }
  
  
  .parallax {
    margin-right: 15%;
  }
  
  .sticky {
    margin-left: 15%;
    background-color: #ff6d6d;
  }
  
  .blue {
    background-color: #5b65ad;
    color: white;
  }
  
  .purple {
    background-color: #9d65d0;
  }
  
  @media (max-width: 750px) {
    .card {
      width: 40%;
    }
  
    .parallax {
      margin-right: 1.5rem;
    }
  
    .sticky {
      margin-left: 1.5rem;
    }
  }
  